body {
  background-color: beige;
  text-align: center;
}

input {
  width: 600px;
  height: 50px;
  padding: 0 10px 0 10px;

  background-color: beige;
  border: 1px solid #b4bb8f;
}

button {
  width: 600px;
  height: 50px;
  margin-bottom: 50px;

  background-color: #b4bb8f;
  border: 1px solid #b4bb8f;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #bcc497;
  border: 2px solid #bcc497;
}

.timer {
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100px;
  padding: 10px 0 10px 0;
  margin-right: 20px;
  border: 1px solid #b4bb8f;
}

.field:last-child {
  margin-right: 0;
}

.value {
  font-weight: 700;
}

.label {
  color: #bcc497;
}
